<div class="container-fluid">
<h2 class="panel panel-heading text-center">Novo Agendamento</h2>
<form method="post">
    <div>
        <label>Data e Hora:</label>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                        <div date-picker="start"
                             max-view="month"
                             min-view="minutes"
                             class="ng-isolate-scope"
                             ng-model="casa.data"></div>
                    </ul>
                </div>
                <input date-time
                       format="DD-MM-YY HH:mm"
                       ng-model="casa.data"
                       ng-readonly="true"
                       class="form-control"
                       ng-required="true"
                       name="casa.data">
            </div>
            <br>
            <button class="btn btn-sm btn-primary" ng-click="imprimirDataEHorario(casa)">
                <span class="glyphicon glyphicon-plus"></span>
                Imprimir data e horário
            </button>
        </div>
    </div>
        <br>
    <div class="row">
        <div class="form-check">
            <label class="form-check-label col-lg-2">VENTILADOR:</label>
                <div class="col-lg-2">
                    <input class="form-check-input"
                           type="radio"
                           name="radiusVent"
                           ng-model="radioVentilador"
                           value="L" checked>
                           LIGAR
                </div>
                <div class="col-lg-2">
                    <input class="form-check-input"
                           type="radio"
                           name="radiusVent"
                           ng-model="casa.radioVentilador"
                           value="D">
                           DELISGAR
                </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="form-check">
            <label class="form-check-label col-lg-2">LUZ SALA:</label>
            <div class="col-lg-2">
                <input class="form-check-input"
                       type="radio"
                       name="radiusLuzSala"
                       ng-model="casa.radioLuzSala"
                       value="L" checked>
                LIGAR
            </div>
            <div class="col-lg-2">
                <input class="form-check-input"
                       type="radio"
                       name="radiusLuzSala"
                       ng-model="casa.radioLuzSala"
                       value="D">
                DELISGAR
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="form-check">
            <label class="form-check-label col-lg-2">TELEVISOR:</label>
            <div class="col-lg-2">
                <input class="form-check-input"
                       type="radio"
                       name="radiusTelevisor"
                       ng-model="casa.radioTelevisor"
                       value="L" checked>
                LIGAR
            </div>
            <div class="col-lg-2">
                <input class="form-check-input"
                       type="radio"
                       name="radiusTelevisor"
                       ng-model="casa.radioTelevisor"
                       value="D">
                DELISGAR
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="form-check">
            <label class="form-check-label col-lg-2">LUZ QUARTO:</label>
            <div class="col-lg-2">
                <input class="form-check-input"
                       type="radio"
                       name="radiusLuzQuarto"
                       ng-model="casa.radioLuzQuarto"
                       value="L" checked>
                LIGAR
            </div>
            <div class="col-lg-2">
                <input class="form-check-input"
                       type="radio"
                       name="radiusLuzQuarto"
                       ng-model="casa.radioLuzQuarto"
                       value="D">
                DELISGAR
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <button type="submit" class="btn btn-success col-lg-5" ng-click="cadastrarAgenda(agenda)"> AGENDAR</button>
</form>
</div>