<h2 class="panel panel-body">Lista de Agendamentos</h2>
<div>
<div>
    <a href="#!novaAgenda">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Novo Agendamento</button>
    </a>
</div>
<br>
<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr class="bg-info">
            <th>Data</th>
            <th>Horário</th>
            <th>Ventilador</th>
            <th>Luz Sala</th>
            <th>TV</th>
            <th>Luz Quarto</th>
            <th>Editar</th>
            <th>Apagar</th>
        </tr>
        </thead>
        <tbody ng-repeat="dados in listaDeAlunos" >
        <tr>
            <td>{{dados.data}}</td>
            <td>{{dados.hora}}</td>
            <td>{{dados.ventilador}}</td>
            <td>{{dados.sala}}</td>
            <td>{{dados.tv}}</td>
            <td>{{dados.quarto}}</td>
            <td><button class="btn btn-info" ng-click="editAgenda(dados)">EDITAR</button></td>
            <td><button class="btn btn-danger" ng-click="deleteAgenda(dados)">DELETAR</button></td>
        </tr>
        </tbody>
    </table>
</div>
</div>