<h2 class="panel panel-body">Lista de Agendamentos</h2>
<div>
<div>
    <a href="#!novaAgenda">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Novo Agendamento</button>
    </a>
</div>
<br>
<div>
    <table class="table table-bordered text-center">
        <thead>
        <tr class="bg-info text-center">
            <th>Id</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Ventilador</th>
            <th>Luz Sala</th>
            <th>TV</th>
            <th>Luz Quarto</th>
            <th>Status Evento</th>
            <th>Editar</th>
            <th>Apagar</th>
        </tr>
        </thead>
        <tbody ng-repeat="dados in listaDeAgendas" >
        <tr>
            <td>{{dados.idEvento}}</td>
            <td>{{dados.dataHora|date:"EEEE,  d 'de' MMMM y"}}</td>
            <td>{{dados.dataHora|date:"HH:mm"}}</td>
            <td>{{(dados.ventilador | ligadesliga)}}</td>
            <td>{{(dados.luzSala | ligadesliga)}}</td>
            <td>{{(dados.tv | ligadesliga)}}</td>
            <td>{{(dados.luzQuarto | ligadesliga)}}</td>
            <td>{{(dados.status | statusEvento)}}</td>
            <td><a href="#!novaAgenda" ng-click="editAgenda(dados)"> Editar  <span class="glyphicon glyphicon-pencil"></span></a> </td>
            <td><a href="" ng-click="deleteAgenda(dados.idEvento)">Deletar  <span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>