<div class="page-header" style="text-align: center">
    <h1>CONTROLA CASA  <span class="glyphicon glyphicon-home"></span></h1>
</div>
<ul class="nav nav-tabs">
    <li role="presentation" class="active "><a href="#!/">Home</a></li>
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
            Agendamentos <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#!listarAgenda">Tabela de Agenda</a></li>

        </ul>
    </li>
</ul>