<br>
<div class="container-fluid ">
    <div class="jumbotron">
        <h2>Sistema de Agenda de Atividades</h2>
        <p>Trabalho Interdisciplinar.</p>
        <p>CPW4 - IOT - WEB SERVICES E XML</p>
        <label>Nome:</label>
        Eder Soares Marques
        <br>
        <label>Email:</label>
        edersonoriza@gmail.com
        <br><br>
        <label>Nome:</label>
        Vagner Felipe Bellaver
        <br>
        <label>Email:</label>
        vfbellaver@gmail.com
        <br>
    </div>

</div>